<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <!-- Navigation mit deaktivierter Greedy Nav auf Mobile -->
      <nav id="site-nav" class="greedy-nav greedy-nav--disabled">

        <!-- Toggle Button für Mobile -->
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">Toggle Menu</span>
          <div class="navicon"></div>
        </button>

        <!-- Hauptlinks -->
        <ul class="visible-links">
          <!-- Startseite / Site Title -->
          <li class="masthead__menu-item masthead__menu-item--lg persist">
